<section class="section">
  <h1 class="title">Messages</h1>
  <div id="messages" role="log" aria-live="polite"></div>
</section>

<section class="section is-small">
  <input id="chat-input" class="input is-primary " type="text" placeholder="Message" />
</section>